<footer class="page-footer">
  <div class="footer-content">
    <div class="container-fluid">
      <div style="display: flex; justify-content: center" class="col-12">
        <p class="mb-0 text-muted">2022 © <img src="/assets/logos/alien.jpg" width="20" height="20" alt=""><a
            href="http://inusualsoft.com/" target="_blank"> Inusual Software</a></p>
        <!-- <div class="col-sm-6 d-none d-sm-block">
          <ul class="breadcrumb pt-0 pr-0 float-right">
            <li class="breadcrumb-item mb-0">
              <a href="javascript:;" class="btn-link">Review</a>
            </li>
            <li class="breadcrumb-item mb-0">
              <a href="javascript:;" class="btn-link">Purchase</a>
            </li>
            <li class="breadcrumb-item mb-0">
              <a href="javascript:;" class="btn-link">Docs</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</footer>